.englishIcon {

    background-image: url('../assets/images/english.png');

}

.spanishIcon {

    background-image: url('../assets/images/spanish.png');

}

.germanIcon {

    background-image: url('../assets/images/german.png');

}

.frenchIcon {

    background-image: url('../assets/images/french.png');

}

.italianIcon {

    background-image: url('../assets/images/italian.png');

}