.facebookMagenta, .facebookViolet, .facebookCyan, .facebookTeal, .facebookOrange {
    background-image: url('../assets/images/icon-facebook.svg');
}

.facebookMagenta:hover {
    background-image: url('../assets/images/icon-facebook-magenta.svg');
}

.facebookViolet:hover {
    background-image: url('../assets/images/icon-facebook-violet.svg');
}

.facebookCyan:hover {
    background-image: url('../assets/images/icon-facebook-cyan.svg');
}

.facebookTeal:hover {
    background-image: url('../assets/images/icon-facebook-teal.svg');
}

.facebookOrange:hover {
    background-image: url('../assets/images/icon-facebook-orange.svg');
}


.instagramMagenta, .instagramViolet, .instagramCyan, .instagramTeal, .instagramOrange {
    background-image: url('../assets/images/icon-instagram.svg');
}

.instagramMagenta:hover {
    background-image: url('../assets/images/icon-instagram-magenta.svg');
}

.instagramViolet:hover {
    background-image: url('../assets/images/icon-instagram-violet.svg');
}

.instagramCyan:hover {
    background-image: url('../assets/images/icon-instagram-cyan.svg');
}

.instagramTeal:hover {
    background-image: url('../assets/images/icon-instagram-teal.svg');
}

.instagramOrange:hover {
    background-image: url('../assets/images/icon-instagram-orange.svg');
}



.pinterestMagenta, .pinterestViolet, .pinterestCyan, .pinterestTeal, .pinterestOrange {
    background-image: url('../assets/images/icon-pinterest.svg');
}

.pinterestMagenta:hover {
    background-image: url('../assets/images/icon-pinterest-magenta.svg');
}

.pinterestViolet:hover {
    background-image: url('../assets/images/icon-pinterest-violet.svg');
}

.pinterestCyan:hover {
    background-image: url('../assets/images/icon-pinterest-cyan.svg');
}

.pinterestTeal:hover {
    background-image: url('../assets/images/icon-pinterest-teal.svg');
}

.pinterestOrange:hover {
    background-image: url('../assets/images/icon-pinterest-orange.svg');
}