@font-face {
    font-family: 'TheRing';
    src: url('./assets/fonts/TheRing.ttf');
}

@font-face {
    font-family: 'Ghosts';
    src: url('./assets/fonts/Ghosts.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

:root {

    --mainFont:'TheRing','Ghosts', sans-serif;
    --secondFont:'Ghosts', sans-serif;


    --text: hsl(237, 18%, 59%);


    --color: hsl(236, 21%, 26%);
    --darkColor: hsl(235, 16%, 14%);
    --veryDarkColor: hsl(234, 17%, 12%);


}

body, button {

    font-family: var(--mainFont);
    letter-spacing: 3px;

}

.secondFont {
    font-family: var(--secondFont);
}

.shadowBottom {
    box-shadow: 3px 8px 2px -1px rgba(0, 0, 0, 0.5);
}

.lightText {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 20px #fff, 0 0 15px #fff, 0 0 0px #fff, 0 0 00px #fff, 0 0 0px #fff;
    animation-name: lightTextAnimation;
    animation-duration: 500ms;
}

.lightTextHover:hover {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 20px #fff, 0 0 15px #fff, 0 0 0px #fff, 0 0 00px #fff, 0 0 0px #fff;
}

@keyframes lightTextAnimation {

    0%{opacity: 0%;}
    100%{opacity: 100%;}
    
}